<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <p class="message">Thank you <span class="inline"><%= name %></span> for contacting. i will get back to you soon</p>
    <p class="back"><a class="" href="/">Back to Home</a></p>
  </body>
</html>